body{
    font-size: 20px;
    font-family: sans-serif;
    color: #1d1b1b;
    height: 150px;
    padding: 30px;
    
}
.question{
    font-weight: 400;
    
    
}
.answer{
    margin-bottom: 50px;
}
.answer label{
    display: block;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(86, 85, 81);
    color:rgb(31, 33, 33);
    border:0px;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    margin-top: 30px;
    
}
#submit:hover{
    background-color: rgb(113, 109, 109);
    border-radius: 50px;
}
.container{
margin-top: 40px;
border-radius: 10px;
padding: 50px;
width:150px;
height: 550px;
background-color:rgb(188, 195, 197);

}
